<div class="container">
<h1><%= @list.name %></h1>
</div>

<%= link_to "Add a Movie",  new_list_bookmark_path(@list) %>

<% @list.bookmarks.each do |bookmark| %>
  <li><%= bookmark.movie.title %> <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you certain?" } %></li>
<% end %>
